body {
	font-family: sans-serif;
	padding: 5rem;
}

h1 {
	color: #333;
}

/* Language: js */
/* Path: src/App.js */

.container {
	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	grid-gap: 20px 0;
}

.grid-item {
	background-color: #eee;
	color: #333;
	padding: 20px;
	text-align: center;
}

.grid-logo {
	background-color: #fff;
	text-align: center;
	color: #333;
}
